<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348401421302-ib27guqnu51eiuujqfiovguoqpej3jih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348401421302-ib27guqnu51eiuujqfiovguoqpej3jih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>348401421302-k4hi9fecc3moirtbh45o395a4mj6nog8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjzEbyIS3krO0e9EtIOu8JTEcjrZNQ10E</string>
	<key>GCM_SENDER_ID</key>
	<string>348401421302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.cameraRoll</string>
	<key>PROJECT_ID</key>
	<string>fir-storage-31a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storage-31a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348401421302:ios:d17c5dcf37f682d45b55d7</string>
</dict>
</plist>